{
  "Port": 8080,
  "Password": "lions-are-not-a-password",
  "BotToken": "123456789:AAAAAAAAAA-_eeeeeeeeeeee",
  "AlertUser": "@YourUser",
  "AlertChatID": 1234567,
  "Minutes": 10,
  "AutoRestartMultiplier": 3,
  "AdminUserID": 123456789,
  "HetznerUser": "K1337",
  "HetznerPassword": "neither-are-penguins",
  "HetznerIP": "255.255.255.255"
}